<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XBFormDataErrorMinLength</key>
	<string>{name} have minimum length is {minLength}</string>
	<key>XBFormDataErrorMaxLength</key>
	<string>{name} have maximm length is {maxLength}</string>
	<key>XBFormDataErrorRequired</key>
	<string>{name} is required</string>
</dict>
</plist>
