<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>type</key>
        <string>view</string>
        <key>x</key>
        <real>0</real>
        <key>y</key>
        <real>0</real>
        <key>subviews</key>
        <array>
            <dict>
                <key>type</key>
                <string>image</string>
                <key>x</key>
                <real>0</real>
                <key>y</key>
                <real>0</real>
                <key>image</key>
                <string>bg_setting.png</string>
                <key>name</key>
                <string>gameover-screen-image-background</string>
            </dict>
            <dict>
                <key>text-color</key>
                <string>21c191</string>
                <key>text-font</key>
                <string>CenturyGothic-Bold</string>
                <key>text-size</key>
                <real>24</real>
                <key>type</key>
                <string>label</string>
                <key>x</key>
                <real>0</real>
                <key>y</key>
                <real>92</real>
                <key>text</key>
                <string>Game Over</string>
                <key>name</key>
                <string>gameover-screen-label-text</string>
            </dict>
            <dict>
                <key>type</key>
                <string>button</string>
                <key>x</key>
                <real>16</real>
                <key>y</key>
                <real>-68</real>
                <key>action</key>
                <string>didPressDashboard:</string>
                <key>background-image</key>
                <string>winner.png</string>
                <key>name</key>
                <string>gameover-screen-button-winner</string>
            </dict>
            <dict>
                <key>type</key>
                <string>button</string>
                <key>x</key>
                <real>-126</real>
                <key>y</key>
                <real>-105</real>
                <key>action</key>
                <string>shareFacebook</string>
                <key>background-image</key>
                <string>face.png</string>
                <key>name</key>
                <string>top-screen-button-facebook</string>
            </dict>
            <dict>
                <key>type</key>
                <string>button</string>
                <key>x</key>
                <real>-177</real>
                <key>y</key>
                <real>7</real>
                <key>action</key>
                <string>shareTwitter</string>
                <key>background-image</key>
                <string>twitter.png</string>
                <key>name</key>
                <string>top-screen-button-twitter</string>
            </dict>
            <dict>
                <key>type</key>
                <string>button</string>
                <key>x</key>
                <real>-164</real>
                <key>y</key>
                <real>-64</real>
                <key>action</key>
                <string>didPressGooglePlus:</string>
                <key>background-image</key>
                <string>google.png</string>
                <key>name</key>
                <string>top-screen-button-googleplus</string>
            </dict>
            <dict>
                <key>text-color</key>
                <string>fdaf2a</string>
                <key>text-font</key>
                <string>Helvetica</string>
                <key>text-size</key>
                <real>26</real>
                <key>type</key>
                <string>button</string>
                <key>x</key>
                <real>-57</real>
                <key>y</key>
                <real>0</real>
                <key>action</key>
                <string>didPressReplay:</string>
                <key>background-image</key>
                <string>replay.png</string>
                <key>text</key>
                <string>Replay</string>
                <key>name</key>
                <string>gameover-screen-button-replay</string>
            </dict>
            <dict>
                <key>text-color</key>
                <string>1fc090</string>
                <key>text-font</key>
                <string>Helvetica</string>
                <key>text-size</key>
                <real>22</real>
                <key>type</key>
                <string>button</string>
                <key>x</key>
                <real>58</real>
                <key>y</key>
                <real>18</real>
                <key>action</key>
                <string>didPressMenu:</string>
                <key>background-image</key>
                <string>menu.png</string>
                <key>text</key>
                <string>Menu</string>
                <key>name</key>
                <string>gameover-screen-button-menu</string>
            </dict>
        </array>
        <key>name</key>
        <string>gameover-screen</string>
    </dict>
</plist>