<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isRemoteData</key>
	<true/>
	<key>remoteLink</key>
	<string>user/getLastFriendfeed</string>
	<key>predefinedHostInUserdefault</key>
	<string>webhost</string>
	<key>pathToContent</key>
	<string>friendfeeds</string>
	<key>isMutipleType</key>
	<true/>
	<key>isUsingRefreshControl</key>
	<true/>
	<key>loadMoreCell</key>
	<string></string>
	<key>cellTypePath</key>
	<string>type</string>
	<key>cells</key>
	<array>
		<dict>
			<key>cellIdentify</key>
			<string>reviews</string>
			<key>xibname</key>
			<string>ReviewsCell</string>
			<key>useAutolayout</key>
			<true/>
			<key>elements</key>
			<array>
				<dict>
					<key>tag</key>
					<integer>3</integer>
					<key>path</key>
					<string>username</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>4</integer>
					<key>path</key>
					<string>numOfReview</string>
					<key>format</key>
					<string>%@ review(s)</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>5</integer>
					<key>path</key>
					<string>numOffollower</string>
					<key>format</key>
					<string>%@ follower(s)</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>9</integer>
					<key>path</key>
					<string>numOfComment</string>
					<key>format</key>
					<string>%@</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>10</integer>
					<key>path</key>
					<string>numOfLike</string>
					<key>format</key>
					<string>%@</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>6</integer>
					<key>path</key>
					<string>rate</string>
					<key>format</key>
					<string>%@</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>8</integer>
					<key>path</key>
					<string>content</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>2</integer>
					<key>path</key>
					<string>user_id</string>
					<key>format</key>
					<string>user/showavatar/%@/1</string>
					<key>disableCache</key>
					<true/>
					<key>predefinedHostInUserdefault</key>
					<string>webhost</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cellIdentify</key>
			<string>cell</string>
			<key>xibname</key>
			<string>VMFeedTableViewCellPhoto</string>
			<key>useAutolayout</key>
			<true/>
			<key>elements</key>
			<array>
				<dict>
					<key>tag</key>
					<integer>1</integer>
					<key>path</key>
					<string>username</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>2</integer>
					<key>path</key>
					<string>user_id</string>
					<key>predefinedHostInUserdefault</key>
					<string>webhost</string>
					<key>disableCache</key>
					<true/>
					<key>format</key>
					<string>user/showavatar/%@/1</string>
				</dict>
				<dict>
					<key>tag</key>
					<integer>3</integer>
					<key>path</key>
					<string>photo</string>
					<key>autoHeight</key>
					<true/>
				</dict>
				<dict>
					<key>tag</key>
					<integer>4</integer>
					<key>path</key>
					<string>caption</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
