<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cells</key>
	<array>
		<dict>
			<key>cellIdentify</key>
			<string>testcell</string>
			<key>xibname</key>
			<string>TestCell</string>
			<key>elements</key>
			<array>
				<dict>
					<key>tag</key>
					<integer>100</integer>
					<key>path</key>
					<string>body</string>
					<key>format</key>
					<string>{bareJidStr} have {body} reviews</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
